.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px 8px;
	margin: 0 auto;

	h1 {
		text-align: center;
	}

	p {
		text-align: center;
		font-size: large;
	}
}

.group {
	display: flex;
	flex-direction: column;
	gap: 8px;

	summary {
		list-style: none;
	}

	summary:hover {
		cursor: pointer;
	}
}
